* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

a:link{
    color: white;
}

.theader{
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

#header{
    height: 4vh;
    background-color: #ff4655;
}

/* lado esquerdo */

#section{
    width: 10vw;
    height: 96vh;
}

#sectionagentes{
    float: left;
    width: 50vw;
    height: 96vh;
    background-color: #0F1923;
}

#btnesquerda{
    margin-left: 150px;
    margin-top: 32vh;
    width: 250px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.sovad{
    margin-top: 250px;
    height: 55vh;
    float: right;
}

#loopagentes{
    color: white;
    font-family: 'Montserrat', sans-serif;
    float: right;
    margin-top: 0px;
    margin-left: -150px;
}

/* fim do lado esquerdo */

/* lado direito */  

#sectionmapas{
    margin-right: 0;
    float: right;
    width: 48.9vw;
    height: 96vh;
    background-color: #0F1923;
}

.sovae{
    margin-top: 250px;
    height: 55vh;
    float: left;
}

#btndireita{
    margin-right: 150px;
    float: right;
    margin-top: 32vh;
    margin-bottom: 10px;
    width: 250px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

#loopmapas{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    float: left;
    margin-top: 0px;
    margin-right: -150px;
}
